<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="shortcut icon" href="/assets/image/util/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/image/util/favicon.ico" type="image/x-icon">

    <!-- Local CSS -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/homesite.css') }}">

    <!-- Google-Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Varela&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- Frameworks -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>

    <!-- Font-Awesome -->
    <script src="https://kit.fontawesome.com/86feb1de0b.js"></script>

    <title>Marvin Fritz - Home</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="banner">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img class="brand" src="{{ url_for('static', filename='assets/image/util/brand.png') }}"/>
                <div class="vertical-lign"></div>
                Marvin Fritz
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item move">
                        <a class="nav-link" href="#">About Me</a>
                    </li>

                    <li class="nav-item move">
                        <a class="nav-link" href="#about">Skills</a>
                    </li>

                    <li class="nav-item move">
                        <a class="nav-link" href="#skills">Projects</a>
                    </li>

                    <li class="nav-item move">
                        <a class="nav-link" href="#projects">Contact</a>
                    </li>

                    <li class="nav-item move-left">
                        <a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i>Titan</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>

<section class="promo">
    <div class="container">
        <div class="content">
            <img src="{{ url_for('static', filename='assets/image/util/brand.png') }}" width="200px" height="200px">
            <div class="text">
                <h2>Marvin Fritz</h2>
                <div class="rotate">
                    I'd like <span class="text-animation"
                             data-period="2000"
                             data-rotate='["programming", "science", "cookies"]'></span>
                </div>
            </div>
        </div>
    </div>

    <!-- scroll-down icon -->
    <div id="section05" class="scroll-down">
        <a href="#section06"><span></span></a>
    </div>

</section>

<section class="about-us" id="about">
    <div class="wrapper">
        <div class="title">
            <h4 class="subtitle">SAY HI</h4>
            <h2 class="title">ABOUT ME</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col left">
                    <h2>Let's talk about me</h2>
                    <p>Hey my name is Marvin. I'm a 19 year old programmer from Germany. In my spare time I do like to play video games and go out with friends.
                    </p>
                </div>
                <div class="col right">
                    <img src="{{ url_for('static', filename='assets/image/home/profile.jpeg') }}" width="250px" height="250px"
                         style="border-radius: 100%">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="skills" id="skills">
    <div class="wrapper">
        <div class="title">
            <h4 class="subtitle">WHAT I DO FOR YOU</h4>
            <h2 class="title">SKILLS</h2>
        </div>

        <div class="container">

            <div class="row">
                <div class="col-sm">
                    <div class="svg">
                        <img src="{{ url_for('static', filename='assets/image/home/svg/programming.svg') }}" alt="#">
                    </div>

                    <div class="text">
                        <h3>Test</h3>
                        <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="svg">
                        <img src="{{ url_for('static', filename='assets/image/home/svg/hosting.svg') }}" alt="#">
                    </div>

                    <div class="text">
                        <h3>Test</h3>
                        <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</span>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="svg">
                        <img src="{{ url_for('static', filename='assets/image/home/svg/design.svg') }}" alt="#">
                    </div>

                    <div class="text">
                        <h3>Test</h3>
                        <span>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="projects" id="projects">
    <div class="wrapper">
        <div class="title">
            <h4 class="subtitle">WHAT I'VE DONE</h4>
            <h2 class="title">PROJECTS</h2>
        </div>

        <div class="container">
            <div class="card first">
                <div class="static-content">
                    <h3>WEBSITE</h3>
                </div>
                <div class="hidden-content">
                    <span class="title">marvin-fritz.de</span><br>
                    <span class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</span><br>
                    <span class="date">Date: 27.11.2001</span>
                </div>
            </div>
            <div class="card second">
                <div class="static-content">
                    <h3>WEBSITE</h3>
                </div>
                <div class="hidden-content">
                    <span class="title">marvin-fritz.de</span><br>
                    <span class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</span><br>
                    <span class="date">Date: 27.11.2001</span>
                </div>
            </div>
            <div class="card third">
                <div class="static-content">
                    <h3>WEBSITE</h3>
                </div>
                <div class="hidden-content">
                    <span class="title">marvin-fritz.de</span><br>
                    <span class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</span><br>
                    <span class="date">Date: 27.11.2001</span>
                </div>
            </div>
            <div class="card fourth">
                <div class="static-content">
                    <h3>WEBSITE</h3>
                </div>
                <div class="hidden-content">
                    <span class="title">marvin-fritz.de</span><br>
                    <span class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</span><br>
                    <span class="date">Date: 27.11.2001</span>
                </div>
            </div>
            <div class="card fifth">
                <div class="static-content">
                    <h3>WEBSITE</h3>
                </div>
                <div class="hidden-content">
                    <span class="title">marvin-fritz.de</span><br>
                    <span class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</span><br>
                    <span class="date">Date: 27.11.2001</span>
                </div>
            </div>
            <div class="card sixth">
                <div class="static-content">
                    <h3>WEBSITE</h3>
                </div>
                <div class="hidden-content">
                    <span class="title">marvin-fritz.de</span><br>
                    <span class="text">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</span><br>
                    <span class="date">Date: 27.11.2001</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">

    <div class="wrapper">
        <div class="title">
            <h4 class="subtitle" style="color: white !important;">SAY HI</h4>
            <h2 class="title">CONTACT</h2>
        </div>

        <div class="content" >
            <form action="#">
                <input type="text" name="name" placeholder="  Name" required>
                <br>
                <input type="email" name="email" placeholder="  E-Mail" required>
                <br>
                <textarea name="message" placeholder="  Message" required></textarea>
                <br>
                <div class="send">
                    <span class="info">
                        By submitting this form I accept the privacy policy.<br>
                        Fields marked with a <span style="color: #ff482a">*</span> are required
                    </span>
                    <br>
                    <div class="btn-container">
                        <a class="btn" href="#"><i class="far fa-paper-plane"></i> SEND</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<footer>
    <div class="content">
        <div class="social">
            <span><a href="https://www.instagram.com/marvinfrtz/"><i class="fab fa-instagram fa-2x"></i></a></span>
        </div>
        <span>Made with <i class="fas fa-heart"></i> and <i class="fas fa-code"></i> by Marvin Fritz</span><br>
        <span>Copyright © <?php echo date('Y') ?> Marvin Fritz. All rights reserved.</span><br>
        <span class="imprint"><a href="./www.google.de">Impressum | Datenschutz</a></span>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<!-- JavaScript libs -->

<script src="{{ url_for('static', filename='assets/javascript/text_animation.js') }}"></script>

<!-- Animation lib
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>-->
<!--
<script>
    AOS.init({
        delay: 500
    })
</script>-->

<!-- JavaScript -->
<script>
    $(document).ready(function(){
        var scroll_pos = 0;
        $(document).scroll(function() {
            scroll_pos = $(this).scrollTop();
            if(scroll_pos > (screen.height - 50)) {
                $("nav").css('background-color', 'rgba(0, 0, 0, 0.6)');
            } else {
                $("nav").css('background-color', '');
            }
        });
    });
</script>
</body>
</html>