* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

body {
  background-color: #fff; }
  body header {
    width: 100%;
    height: 55px;
    background: #3c8dbc;
    z-index: 1000 !important;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0; }
    body header div.content {
      height: 100%;
      width: 100%;
      color: white; }
      body header div.content div.left-side {
        float: left;
        width: 55%;
        height: 100%; }
        @media screen and (max-width: 414px) {
          body header div.content div.left-side {
            width: 60%; } }
        body header div.content div.left-side div#nav-title {
          height: 100%;
          float: left;
          background: #357ca5;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 200px;
          min-width: 50px; }
          @media screen and (max-width: 600px) {
            body header div.content div.left-side div#nav-title {
              width: 150px;
              transition: 500ms; } }
          @media screen and (min-width: 601px) {
            body header div.content div.left-side div#nav-title {
              transition: 500ms; } }
          body header div.content div.left-side div#nav-title h3 {
            font-size: 20px;
            font-weight: bold;
            margin: auto 0 auto 0; }
        body header div.content div.left-side div.toggle {
          height: 100%;
          width: auto;
          display: flex;
          align-items: center; }
          body header div.content div.left-side div.toggle i {
            padding-left: 10px;
            font-size: 19px;
            cursor: pointer; }
      body header div.content div.right-side {
        float: right;
        width: 45%;
        height: 100%; }
        @media screen and (max-width: 414px) {
          body header div.content div.right-side {
            width: 40%; } }
        body header div.content div.right-side div.settings {
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: flex-end; }
          body header div.content div.right-side div.settings a.item:hover {
            background: #357ca5;
            text-decoration: none !important; }
          body header div.content div.right-side div.settings a.item {
            width: 50px;
            height: 100%;
            display: flex;
            font-size: 15px;
            align-items: center;
            text-decoration: none !important;
            justify-content: center;
            transition: 250ms;
            cursor: pointer;
            color: white !important; }
            body header div.content div.right-side div.settings a.item i {
              text-decoration: none !important; }
          @media screen and (max-width: 414px) {
            body header div.content div.right-side div.settings a.notifications {
              display: none; } }
          body header div.content div.right-side div.settings a.profile {
            width: auto;
            padding: 0px 12px 0px 12px;
            font-size: 14px; }
            body header div.content div.right-side div.settings a.profile img {
              width: 25px;
              height: 25px;
              border-radius: 100%;
              margin-right: 5px; }
            @media screen and (max-width: 640px) {
              body header div.content div.right-side div.settings a.profile span.username {
                display: none; } }
          @media screen and (max-width: 414px) {
            body header div.content div.right-side div.settings a.user-settings {
              display: none; } }
  body aside.active {
    transition-timing-function: ease-in;
    transition: 500ms;
    transform: translateX(-100%); }
  body aside {
    display: block;
    position: fixed;
    height: 100vh;
    width: 200px;
    background: #222d32;
    z-index: 800;
    overflow: hidden;
    transition: 500ms; }
    @media screen and (max-width: 600px) {
      body aside {
        width: 150px; } }
    body aside div.profile {
      width: 100%;
      padding-top: 75px;
      padding-bottom: 20px;
      display: flex;
      align-items: center; }
      body aside div.profile div.image {
        width: 40%;
        float: left;
        height: 100%;
        text-align: center; }
        body aside div.profile div.image img {
          border-radius: 100%; }
      body aside div.profile div.info {
        width: 60%;
        float: right;
        height: 100%;
        display: inline-block;
        padding: 5px;
        vertical-align: middle;
        margin: auto 0 auto 0;
        font-weight: bolder;
        color: white; }
        @media screen and (max-width: 414px) {
          body aside div.profile div.info {
            font-size: 14px; } }
        body aside div.profile div.info span.rank {
          font-size: 12px;
          font-weight: normal; }
    body aside nav.navbar {
      width: 100%;
      padding: 0; }
      body aside nav.navbar div.description {
        width: 100%;
        height: 30px;
        background: #192226;
        color: #3a525a;
        display: table; }
        body aside nav.navbar div.description span {
          font-size: 10px;
          display: table-cell;
          vertical-align: middle;
          padding-left: 10px; }
      body aside nav.navbar div.active {
        border-left: 2.5px solid #3c8dbc !important;
        background: #192226; }
      body aside nav.navbar div.nav-item {
        border-left: 2.5px solid #222d32;
        width: 100%; }
        body aside nav.navbar div.nav-item a.top-item:hover {
          background: #192226;
          color: #b6c8ce; }
        body aside nav.navbar div.nav-item a.top-item {
          padding-left: 3px;
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          transition: 250ms;
          font-size: 16px;
          color: #b6c8ce !important;
          text-decoration: none; }
          body aside nav.navbar div.nav-item a.top-item div.icon {
            display: flex;
            align-items: center;
            align-content: center;
            height: 100%;
            width: 20px;
            margin: 0px 10px 0px 10px; }
            body aside nav.navbar div.nav-item a.top-item div.icon i {
              font-size: 17px; }
          body aside nav.navbar div.nav-item a.top-item div.text span {
            font-size: 14px; }
  body section.collapsed-nav {
    margin-left: 0px !important; }
  body section.content {
    max-width: 100%;
    padding: 65px 10px 10px 10px;
    margin-left: 215px;
    transition: margin-left 500ms;
    z-index: 0 !important;
    background: #fff; }
    @media screen and (max-width: 600px) {
      body section.content {
        margin-left: 0px; } }
    body section.content div.page-title {
      width: 100%;
      display: flex;
      margin-bottom: 20px; }
      body section.content div.page-title h2.page-name {
        font-size: 23px;
        margin: auto 0 auto 0; }
    body section.content div.status-bar {
      width: 100%;
      margin: 0 auto;
      border: 1px solid red; }
      body section.content div.status-bar div.col-lg-3 {
        padding: 15px;
        height: 150px; }
        @media screen and (max-width: 1400px) {
          body section.content div.status-bar div.col-lg-3 {
            width: 50%; } }
        @media screen and (max-width: 414px) {
          body section.content div.status-bar div.col-lg-3 {
            width: 100%; } }
        body section.content div.status-bar div.col-lg-3 div.box {
          width: 100%;
          height: 100%;
          border-radius: 10px; }
          body section.content div.status-bar div.col-lg-3 div.box div.left {
            float: left;
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center; }
            body section.content div.status-bar div.col-lg-3 div.box div.left div.text-holder {
              height: auto;
              width: 100%;
              margin: 0 auto 0 auto;
              padding-left: 10px;
              color: white;
              padding-top: 15px; }
            body section.content div.status-bar div.col-lg-3 div.box div.left h3 {
              font-weight: bolder; }
          body section.content div.status-bar div.col-lg-3 div.box div.icon-holder {
            width: 30%;
            height: 100%;
            float: right;
            display: flex;
            justify-content: center;
            align-items: center;
            color: rgba(0, 0, 0, 0.15);
            overflow: hidden; }
            body section.content div.status-bar div.col-lg-3 div.box div.icon-holder i {
              font-size: 50px;
              transition: 500ms; }
            body section.content div.status-bar div.col-lg-3 div.box div.icon-holder i:hover {
              font-size: 60px; }
    body section.content div.nav-center form {
      width: 40%;
      height: 42px;
      border-radius: 20px;
      background: #f1f3f4;
      align-items: center;
      display: flex; }
      @media screen and (max-width: 590px) {
        body section.content div.nav-center form {
          width: 85%; } }
      body section.content div.nav-center form i {
        margin-left: 10px;
        margin-right: 10px; }
      body section.content div.nav-center form input {
        margin-left: 15px;
        height: auto;
        width: 80%;
        background: 0;
        border: 0;
        outline: 0; }
    body section.content div.news {
      width: 80%;
      margin-bottom: 30px;
      border: 1px solid #f1f3f4;
      padding: 7.5px; }
      @media screen and (max-width: 414px) {
        body section.content div.news {
          width: 100% !important;
          background: #6ab04c; } }
      body section.content div.news div.item-text {
        padding: 15px 0px 15px 0px; }
        body section.content div.news div.item-text div.top {
          overflow: hidden;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          flex-wrap: wrap;
          padding-bottom: 17px; }
          body section.content div.news div.item-text div.top div.title {
            width: 70%;
            margin: auto;
            overflow: hidden; }
            body section.content div.news div.item-text div.top div.title a {
              text-decoration: none;
              color: black; }
              body section.content div.news div.item-text div.top div.title a h3.title {
                margin: auto;
                font-weight: bold;
                font-size: 19px; }
          body section.content div.news div.item-text div.top div.category {
            width: 30%;
            overflow: hidden; }
            body section.content div.news div.item-text div.top div.category button.economy {
              padding: 1px 15px 1px 15px;
              border-radius: 12px;
              float: right;
              border: 1px solid #E74C3C;
              background: 0;
              color: #E74C3C; }
        body section.content div.news div.item-text div.content {
          padding-bottom: 17px; }

/*# sourceMappingURL=dashboard.css.map */
