* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0; }

header nav.navbar {
  font-family: "Poppins", sans-serif;
  transition: 750ms; }
  header nav.navbar div.container {
    max-width: 76%; }
    header nav.navbar div.container a.navbar-brand {
      letter-spacing: 4px;
      font-size: 27px;
      /* center text in nav-link line */
      align-items: center;
      display: flex; }
      header nav.navbar div.container a.navbar-brand div.vertical-lign {
        height: 28px;
        width: 1.5px;
        background-color: white;
        margin: 0px 10px 0px 10px; }
      header nav.navbar div.container a.navbar-brand img.brand {
        width: 45px;
        height: 45px; }
    header nav.navbar div.container div.collapse ul.navbar-nav li.nav-item {
      font-size: 15px;
      font-weight: lighter;
      text-transform: uppercase; }
    header nav.navbar div.container div.collapse ul.navbar-nav li.move a.nav-link:hover {
      color: #4365ff;
      transition: 0.75s; }
    header nav.navbar div.container div.collapse ul.navbar-nav li.move-left a.nav-link:hover {
      color: #4365ff;
      transition: 0.75s; }
    header nav.navbar div.container div.collapse ul.navbar-nav li.move-left i.fas {
      padding-right: 4px; }

/* screens >= 992 */
@media (min-width: 992px) {
  header nav.navbar div.container {
    max-width: 76%;
    transition: 1000ms; }
    header nav.navbar div.container ul.navbar-nav li.move {
      margin: 0px 15px 0px 15px; }
      header nav.navbar div.container ul.navbar-nav li.move a.nav-link {
        color: #ffffff; }
    header nav.navbar div.container ul.navbar-nav li.move-left {
      margin: 0px 0px 0px 15px; }
      header nav.navbar div.container ul.navbar-nav li.move-left a.nav-link {
        color: white; } }
/* screens smaller <= 991 */
@media (max-width: 991px) {
  header nav.navbar div.container {
    max-width: 95%;
    transition: 1000ms; }
    header nav.navbar div.container ul.navbar-nav li.nav-item {
      font-size: 15px;
      text-transform: uppercase; }
    header nav.navbar div.container ul.navbar-nav li.move {
      margin: 0px 0px 0px 0px; }
    header nav.navbar div.container ul.navbar-nav li.move-left {
      margin: 0px 0px 0px 0px; }
      header nav.navbar div.container ul.navbar-nav li.move-left i.fas {
        padding-right: 4px; }
    header nav.navbar div.container ul.navbar-nav a.nav-link {
      color: #ffffff; } }
section.promo {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../image/home/background.jpg"), no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  position: relative !important;
  /* -- scroll down-icon -- */ }
  section.promo div.container {
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }
    section.promo div.container div.content {
      height: 100%;
      text-align: center; }
      section.promo div.container div.content div.text h2 {
        padding-top: 5vh;
        color: #4365ff;
        letter-spacing: 8px;
        font-weight: lighter;
        font-size: 50px; }
      section.promo div.container div.content div.text div.rotate {
        color: #ffffff;
        padding-top: 1vh;
        font-size: 30px;
        font-weight: lighter; }
  section.promo div.scroll-down {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px; }
    section.promo div.scroll-down a {
      padding-top: 70px; }
    section.promo div.scroll-down span {
      position: absolute;
      top: 0;
      left: 50%;
      width: 24px;
      height: 24px;
      margin-left: -12px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-animation: sdb05 1.5s infinite;
      animation: sdb05 1.5s infinite;
      box-sizing: border-box; }
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0; } }
section.about-us {
  height: auto;
  width: 100%; }
  section.about-us div.wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding-bottom: 70px;
    /* -- title -- */ }
    section.about-us div.wrapper div.title {
      padding-top: 70px;
      text-align: center;
      font-family: "Raleway", sans-serif !important;
      display: block;
      margin-bottom: 50px; }
      section.about-us div.wrapper div.title h4.subtitle {
        color: #6c757d;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px; }
      section.about-us div.wrapper div.title h2.title {
        color: #4365ff;
        font-weight: bolder;
        font-size: 30px;
        line-height: 30px;
        display: inline-block;
        padding-bottom: 12px;
        position: relative;
        letter-spacing: 1.8px; }
      section.about-us div.wrapper div.title h2.title:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 80px;
        bottom: 0;
        left: 25%;
        border-bottom: 3px solid #6c757d; }
    section.about-us div.wrapper div.container {
      margin: 0 auto;
      width: 90%; }
      section.about-us div.wrapper div.container div.row div.left {
        margin: auto; }
      section.about-us div.wrapper div.container div.row div.right {
        display: flex;
        align-items: center;
        justify-content: flex-end; }

section.skills {
  height: auto;
  width: 100%;
  background-color: #F7F7FA; }
  section.skills div.wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    /* -- title -- */ }
    section.skills div.wrapper div.title {
      padding-top: 70px;
      text-align: center;
      font-family: "Raleway", sans-serif !important;
      display: block; }
      section.skills div.wrapper div.title h4.subtitle {
        color: #6c757d;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px; }
      section.skills div.wrapper div.title h2.title {
        color: #4365ff;
        font-weight: bolder;
        font-size: 30px;
        line-height: 30px;
        display: inline-block;
        padding-bottom: 12px;
        position: relative;
        letter-spacing: 1.8px; }
      section.skills div.wrapper div.title h2.title:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 80px;
        bottom: 0;
        left: 25%;
        border-bottom: 3px solid #6c757d; }
    section.skills div.wrapper div.container {
      margin-bottom: 50px; }
      section.skills div.wrapper div.container div.row div.col-sm {
        margin: 10px;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        height: 400px; }
        section.skills div.wrapper div.container div.row div.col-sm div.svg {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center; }
          section.skills div.wrapper div.container div.row div.col-sm div.svg img {
            margin: 20px 0px 20px 0px;
            width: 90px;
            height: 90px; }
        section.skills div.wrapper div.container div.row div.col-sm div.text {
          text-align: center; }
          section.skills div.wrapper div.container div.row div.col-sm div.text h3 {
            padding-bottom: 8px; }

section.projects {
  z-index: 2;
  height: auto;
  width: 100%; }
  section.projects div.wrapper {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    /* -- title -- */ }
    section.projects div.wrapper div.title {
      padding-top: 70px;
      text-align: center;
      font-family: "Raleway", sans-serif !important;
      display: block;
      margin-bottom: 50px; }
      section.projects div.wrapper div.title h4.subtitle {
        color: #6c757d;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px; }
      section.projects div.wrapper div.title h2.title {
        color: #4365ff;
        font-weight: bolder;
        font-size: 30px;
        line-height: 30px;
        display: inline-block;
        padding-bottom: 12px;
        position: relative;
        letter-spacing: 1.8px; }
      section.projects div.wrapper div.title h2.title:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 80px;
        bottom: 0;
        left: 25%;
        border-bottom: 3px solid #6c757d; }
    section.projects div.wrapper div.container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      margin-bottom: 60px; }
      section.projects div.wrapper div.container div.card {
        height: 170px;
        width: 340px;
        max-width: 340px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
        section.projects div.wrapper div.container div.card div.static-content {
          bottom: 0;
          position: absolute;
          width: 100%;
          text-align: left;
          padding-left: 10px;
          color: white;
          background: rgba(0, 0, 0, 0.5);
          transition: 0.5s;
          height: 40px; }
          section.projects div.wrapper div.container div.card div.static-content h3 {
            line-height: 40px;
            font-weight: 200; }
      section.projects div.wrapper div.container div.hidden-content {
        opacity: 0;
        position: absolute;
        bottom: 0;
        text-align: left;
        color: white;
        z-index: 200;
        padding: 0px 0px 5px 10px;
        font-weight: 200; }
      section.projects div.wrapper div.container div.card:hover div.static-content {
        height: 100%;
        transition: 0.5s; }
        section.projects div.wrapper div.container div.card:hover div.static-content h3 {
          opacity: 0;
          transition: 0.2s; }
      section.projects div.wrapper div.container div.card:hover div.hidden-content {
        opacity: 1;
        transition: 0.5s;
        width: 100%; }
        section.projects div.wrapper div.container div.card:hover div.hidden-content span.title {
          font-size: 30px;
          color: #4365ff;
          font-weight: 200; }
      section.projects div.wrapper div.container div.first {
        background-image: url("../image/home/project1.jpg"); }
      section.projects div.wrapper div.container div.second {
        background-image: url("../image/home/project2.jpg"); }
      section.projects div.wrapper div.container div.third {
        background-image: url("../image/home/project3.jpg"); }
      section.projects div.wrapper div.container div.fourth {
        background-image: url("../image/home/project4.jpg"); }
      section.projects div.wrapper div.container div.fifth {
        background-image: url("../image/home/project5.jpg"); }
      section.projects div.wrapper div.container div.sixth {
        background-image: url("../image/home/project6.jpg"); }
    section.projects div.wrapper div.container > div.card {
      flex: 1 1 auto;
      text-align: center;
      border: white;
      margin: 10px 10px 40px 10px; }

/* -- contact -- */
section.contact {
  background-color: #101113;
  height: auto;
  padding-bottom: 100px; }
  section.contact div.wrapper {
    /* -- title -- */ }
    section.contact div.wrapper div.title {
      padding-top: 70px;
      text-align: center;
      font-family: "Raleway", sans-serif !important;
      display: block;
      margin-bottom: 50px; }
      section.contact div.wrapper div.title h4.subtitle {
        color: #6c757d;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px; }
      section.contact div.wrapper div.title h2.title {
        color: #4365ff;
        font-weight: bolder;
        font-size: 30px;
        line-height: 30px;
        display: inline-block;
        padding-bottom: 12px;
        position: relative;
        letter-spacing: 1.8px; }
      section.contact div.wrapper div.title h2.title:before {
        content: "";
        position: absolute;
        width: 50%;
        height: 80px;
        bottom: 0;
        left: 25%;
        border-bottom: 3px solid #6c757d; }
    section.contact div.wrapper div.content {
      text-align: center;
      padding-top: 50px;
      height: auto;
      width: 100%;
      margin: 0 auto; }
      section.contact div.wrapper div.content form input {
        width: 70%;
        max-width: 700px;
        min-width: 290px;
        margin: 10px 0px 10px 0px;
        padding: 5px;
        border: 0.5px solid #1c1d20;
        background-color: #1c1d20;
        border-radius: 15px;
        color: white; }
      section.contact div.wrapper div.content form textarea {
        margin: 10px 0px 10px 0px;
        width: 70%;
        max-width: 700px;
        min-width: 290px;
        height: 175px;
        max-height: 175px;
        padding: 5px;
        border-radius: 15px;
        color: white;
        border: 0.5px solid #1c1d20;
        background-color: #1c1d20; }
      section.contact div.wrapper div.content form div.send {
        width: 70%;
        max-width: 700px;
        min-width: 290px;
        margin: 0 auto;
        height: 100px;
        display: block;
        text-align: right;
        font-size: 14px; }
        section.contact div.wrapper div.content form div.send span.info {
          color: white; }
        section.contact div.wrapper div.content form div.send .btn-container {
          display: block;
          position: relative;
          top: 20%;
          text-align: right; }
        section.contact div.wrapper div.content form div.send .btn {
          display: inline-block;
          font-weight: bold;
          text-transform: uppercase;
          color: #4365ff;
          padding: 5px 7.5px;
          text-decoration: none;
          position: relative;
          border: 2px solid #4365ff;
          overflow: hidden;
          transition: all 0.5s linear; }
          section.contact div.wrapper div.content form div.send .btn:hover {
            color: white; }
            section.contact div.wrapper div.content form div.send .btn:hover:before {
              left: -10px; }
          section.contact div.wrapper div.content form div.send .btn:before {
            content: "";
            position: absolute;
            top: 0;
            left: -200%;
            background: #4365ff;
            height: 100%;
            width: 120%;
            transform: skew(-15deg);
            z-index: -1;
            transition: all 0.5s linear; }

/* -- footer -- */
footer {
  height: auto;
  background: black;
  color: white;
  font-family: "Raleway", sans-serif; }
  footer div.social {
    padding-top: 15px;
    padding-bottom: 20px; }
    footer div.social a {
      text-decoration: none !important;
      color: white; }
      footer div.social a span {
        padding: 0px 12px 0px 12px;
        transition: 600ms; }
    footer div.social span:hover {
      color: #4365ff; }
  footer div.content {
    padding: 15px 0px 15px 0px;
    width: 100%;
    text-align: center; }
    footer div.content span.imprint {
      color: #4365ff; }
      footer div.content span.imprint a {
        text-decoration: none !important;
        color: #4365ff; }

/* Responsive */
@media screen and (max-width: 870px) {
  section.about-us div.wrapper {
    /* -- title -- */ }
    section.about-us div.wrapper div.container {
      margin: 0 auto;
      width: 100%; }
      section.about-us div.wrapper div.container div.row div.left {
        min-width: 73vw !important; }
      section.about-us div.wrapper div.container div.row div.right {
        display: flex;
        align-items: center;
        justify-content: center; }
        section.about-us div.wrapper div.container div.row div.right img {
          width: 200px;
          height: 200px; } }

/*# sourceMappingURL=homesite.css.map */
