<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stats</title>
</head>
<body>

<h2>newsAmount: {{ status['newsAmount'] }}</h2>
<h2>sourceAmount: {{ status['sourcesAmount'] }}</h2>

</body>
</html>