{% extends  'dashboard/template.html' %}

{% block title %}
Sources
{% endblock %}

{% block content %}
  <!-- status bar -->
    <div class="status-bar row">
        <div class="col-lg-3 col-xs-6">
            <div class="box" style="background: #6ab04c">
                <div class="left">
                    <div class="text-holder">
                        <h3>{{ stats['newsAmount'] }}</h3>
                        <p>News Documents</p>
                    </div>
                </div>
                <div class="icon-holder">
                    <i class="fas fa-chart-pie"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="box" style="background: #f0932b">
                <div class="left">
                    <div class="text-holder">
                        <h3>{{ stats['sourceAmount'] }}</h3>
                        <p>Sources</p>
                    </div>
                </div>
                <div class="icon-holder">
                    <i class="fas fa-ambulance"></i>
                </div>
            </div>
        </div>
    </div>
{% endblock %}