<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='assets/css/dashboard.css') }}">

    <!-- Frameworks -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <!-- Fontawesome -->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='assets/lib/fontawesome/css/all.css') }}">

    <!-- Google-Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <!-- Chart js -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>Symphony Controlpanel</title>
</head>
<body>

<!-- top navigation -->

<header>
    <div class="content">

        <div class="left-side">
            <div id="nav-title">
                <h3>Symphony</h3>
            </div>
            <div class="toggle">
                <i class="fas fa-bars" id="sidenav-toggle"></i>
            </div>
        </div>

        <div class="right-side">
            <div class="settings">

                <a class="item notifications">
                    <i class="far fa-flag"></i>
                </a>

                <a class="item profile">
                    <img src="{{ url_for('static', filename='assets/image/profile/' + user['uuid'] +'.jpg') }}">
                    <span class="username">{{user['name']}}</span>
                </a>

                <a class="item user-settings">
                    <i class="fas fa-user-cog"></i>
                </a>

                <a class="item">
                    <i class="fas fa-sign-out-alt"></i>
                </a>

            </div>
        </div>

    </div>
</header>

<!-- sidenav -->
<aside id="sidenav">
    <div class="profile">
        <div class="image">
            <img src="{{ url_for('static', filename='assets/image/profile/' + user['uuid'] +'.jpg') }}" height="50px" width="50px">
        </div>
        <div class="info">
            {{user['username']}} <br>
            <span class="rank">Administrator</span>
        </div>
    </div>

    <nav class="navbar">
        <div class="description">
            <span>MAIN NAVIGATION</span>
        </div>

        <div class="nav-item active">
            <a class="top-item" href="#">
                <div class="icon">
                    <i class="far fa-chart-bar"></i>
                </div>
                <div class="text">
                    <span>Dashboard</span>
                </div>

            </a>
        </div>

        <div class="nav-item">
            <a class="top-item" href="#">
                <div class="icon">
                    <i class="fas fa-search"></i>
                </div>
                <div class="text">
                    <span>Suche</span>
                </div>

            </a>
        </div>

        <div class="nav-item">
            <a class="top-item" href="#">
                <div class="icon">
                    <i class="fas fa-atlas"></i>
                </div>
                <div class="text">
                    <span>DataCollector</span>
                </div>

            </a>
        </div>



    </nav>
</aside>

<!-- main content -->
<section class="content" id="content">
    <div class="page-title">
        <h2 class="page-name">Dashboard</h2>
    </div>

    <!-- status bar -->
    <div class="status-bar row">
        <div class="col-lg-3 col-xs-6">
            <div class="box" style="background: #6ab04c">
                <div class="left">
                    <div class="text-holder">
                        <h3>{{ stats['newsAmount'] }}</h3>
                        <p>News Documents</p>
                    </div>
                </div>
                <div class="icon-holder">
                    <i class="fas fa-chart-pie"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="box" style="background: #f0932b">
                <div class="left">
                    <div class="text-holder">
                        <h3>ACTIVE</h3>
                        <p>Cloud status</p>
                    </div>
                </div>
                <div class="icon-holder">
                    <i class="fas fa-ambulance"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="box" style="background: #eb4d4b">
                <div class="left">
                    <div class="text-holder">
                        <h3>{{ stats['sourcesAmount'] }}</h3>
                        <p>News Sources</p>
                    </div>
                </div>
                <div class="icon-holder">
                    <i class="far fa-bookmark"></i>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xs-6">
            <div class="box" style="background: #22a6b3">
                <div class="left">
                    <div class="text-holder">
                        <h3>952</h3>
                        <p>Last 24 hours</p>
                    </div>
                </div>
                <div class="icon-holder">
                    <i class="fas fa-chart-line"></i>
                </div>
            </div>
        </div>


    </div>

</section>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script>

    $("#dropdown-toggle").click(function (e) {
        e.preventDefault();
        $("div.dropdown-list").toggleClass("toggle-dropdown");
    });

    $("#sidenav-toggle").click(function (e) {
        e.preventDefault();
        $("section.content").toggleClass("collapsed-nav");
        $("aside").toggleClass("active");

        //$("#sidenav").toggleClass("toggled");
    });

</script>
</body>
</html>