{% extends  'dashboard/template.html' %}

{% block title %}
    Search
{% endblock %}

{% block content %}

    <div class="nav-center">
        <form action="" method="post" id="search" enctype="multipart/form-data">
            <input type="search" placeholder="Search" name="searchrq"><br>
            <br>
        </form>
    </div>

    {% if query %}
        {{ query }}
    {% endif %}

    {% for document in results %}
        <div class="news">
                <div class="item-text">
                    <div class="top">
                        <div class="title">
                            <a href="{{ document['link'] }}"><h3 class="title">{{ document['title'] }}</h3></a>
                        </div>
                        <div class="category">
                            <!--<button class="economy">
                            Wirtschaft</button>-->
                        </div>
                    </div>
                    <div class="content">
                        <div class="description">
                            <span>{{ document['description'] }}</span>
                        </div>
                    </div>
                    <div class="footer">
                        <!--<span class="source">spiegel.de</span><span>-</span><span class="pubdate">{{ document['pubDate'] }}</span>-->
                    </div>
                </div>
            </div>
    {% endfor %}


{% endblock %}