{% extends  'dashboard/template.html' %}

{% block title %}
    Sources
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Source</th>
            <th scope="col">RssLink</th>
            <th scope="col">Category</th>
            <th scope="col">Priority</th>
            <th scope="col">Language</th>
        </tr>
        </thead>
        <tbody>
        {% for i in range(0, len) %}
            <tr>
                <th scope="row">{{ i }}</th>
                <td>{{ SourceDocs[i]['source'] }}</td>
                <td>{{ SourceDocs[i]['rssLink'] }}</td>
                <td>{{ SourceDocs[i]['category'] }}</td>
                <td>{{ SourceDocs[i]['priority'] }}</td>
                <td>{{ SourceDocs[i]['language'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}