$text-color: #5f6368

*
  margin: 0
  padding: 0
  box-sizing: border-box
  left: 0

div.wrapper
  height: 100vh

/* Add a black background color to the top navigation */
nav.topnav
  background-color: white

  overflow: hidden
  height: 65px
  z-index: 2 !important
  align-items: center
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  justify-content: space-between
  position: fixed
  top: 0
  width: 100%

  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14),0 1px 10px 0 rgba(0,0,0,0.12),0 2px 4px -1px rgba(0,0,0,0.2)
  div.nav-left
    margin-left: 20px
    float: left
    width: 25%
    align-items: center
    display: flex
    font-size: 25px
    i
      font-size: 30px
      margin-right: 20px
      cursor: pointer
  div.nav-right
    img
      height: 40px
      float: right
      width: 40px
      border-radius: 100%

  div.nav-right
    margin-right: 20px
    float: right
    width: 25%

  div.nav-center
    form
      width: 500px
      height: 42px
      border-radius: 20px
      background: #f1f3f4
      align-items: center
      display: flex
      i
        margin-left: 10px
        margin-right: 10px
      input
        height: auto
        width: 80%
        background: 0
        border: 0
        outline: 0

div.toggled
  transition-timing-function: ease-in
  transition: 0.4s
  transform: translateX(-100%)

div.sidenav
  height: 100%
  width: 225px
  position: fixed
  padding-top: 100px !important
  z-index: 1 !important
  top: 0
  left: 0 !important
  overflow-x: hidden
  background: white
  transition: 0.4s
  div.items
    a.sidenav-item:hover
      text-underline: none
      //TODO: COLOR funktioniert irgendwie nicht!!

    a.active
      background: rgba(41, 98, 255, 0.7)
      border-radius: 0px 20px 20px 0px

    a.sidenav-item
      display: block
      width: 100%
      height: 40px
      text-decoration: none

      div.content
        margin-left: 20px
        display: flex
        align-items: center
        height: 100%
        color: $text-color
        i.far
          margin-right: 15px
          font-size: 20px
        i.fas
          margin-right: 15px
          font-size: 20px
        i.fab
          margin-right: 15px
          font-size: 20px
        span:hover
          color: #2962ff
          transition: 300ms
    div.separator
      margin-top: 20px
      margin-bottom: 20px
      background: #d2d4d5
      width: 90%
      height: 1px

section.content
  display: flex
  justify-content: center
  margin-top: 100px
  div.wrapper
    width: 60%
    height: auto
    div.header
      margin-bottom: 40px
    div.news
      width: 100%
      margin-bottom: 30px
      div.item-text
        padding: 15px 0px 15px 0px
        div.top
          display: flex
          flex-direction: row
          justify-content: flex-start
          flex-wrap: wrap
          div.title
            width: 70%
            margin: auto
            overflow: hidden
            a
              text-decoration: none
              color: black
              h3.title
                margin: auto
                font-weight: bold
                font-size: 19px
          div.category
            width: 30%
            overflow: hidden
            button.economy
              padding: 1px 15px 1px 15px
              border-radius: 12px
              float: right
              border: 1px solid #E74C3C
              background: 0
              color: #E74C3C

        div.content
          div.description
            margin-top: 17px
            width: 80%
        div.footer
          margin-top: 17px
          span.source
            padding-right: 5px
          span.pubdate
            padding-left: 5px


@media screen and (max-width: 930px)
  div.wrapper
    nav.topnav
      div.nav-left
        width: 10%
        margin-left: 10px
        i.fas
          margin-right: 0 !important
        span
          opacity: 0
          width: 0
      div.nav-center
        width: 80%
        form
          width: 90%
      div.nav-right
        width: 10%
        margin-right: 10px
  div.sidenav
  section.content
    div.wrapper
      width: 90%









