$text-color: #5f6368
$accent-color: #4365ff
*
  margin: 0
  padding: 0
  box-sizing: border-box
  left: 0
  font-family: "Source Sans Pro", sans-serif

body
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../image/login-background.jpg")
  height: 100%
  width: 100%
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  section.container
    width: 100vw
    height: 100vh
    display: flex
    div.content
      width: 100vw
      height: 100%
      display: flex
      justify-content: center
      div.login
        width: 350px
        position: absolute
        top: 45%
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        background: transparent
        box-sizing: border-box
        text-align: center
        h1.title
          color: white
          font-size: 37px
          font-weight: bold
        span
          color: white
        form
          input
            margin: 10% 10% 0 10%
            width: 80%
            padding: 5%
            display: block
            border: none
            border-bottom: 1px solid #dadada
            background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 99%, #dadada 1%)
            background: linear-gradient(bottom, rgba(255, 255, 255, 0) 99%, #dadada 1%)
            background-size: 0 100%
            background-repeat: no-repeat
            color: #dadada
            -webkit-transition: all 300ms ease-in-out
            transition: all 300ms ease-in-out
          input:focus
            outline: none
            background-size: 100% 100%
            letter-spacing: 0.75px
          input::-webkit-input-placeholder
            -webkit-transition: all 300ms ease-in-out
            transition: all 300ms ease-in-out
          input:focus::-webkit-input-placeholder
            font-size: 11px
            -webkit-transform: translateY(-25px)
            transform: translateY(-25px)
            visibility: visible !important
          input:focus:valid::-webkit-input-placeholder
            color: $accent-color
            border-color: $accent-color
          span
            margin: 15px 0px 15px 0px
            display: block
            a
              text-decoration: none
              color: white
            a:hover
              text-decoration: none
          button
            border: 0
            border-radius: 25px
            color: white
            font-weight: bold
            background-color: $accent-color
            width: 80%
            height: 40px
          button:hover
            cursor: pointer



    footer
      position: fixed
      padding-bottom: 8px
      left: 0
      bottom: 0
      width: 100%
      color: white
      text-align: center
